.row-priority-0 {
    background-color: Magenta;
}

.row-priority-1 {
    background-color: Maroon;
}

.row-priority-2 {
    background-color: red;
}

.row-priority-3 {
    background-color: orange;
}

.row-priority-4 {
    background-color: yellow;
}

.row-priority-5 {
    background-color: limegreen;
}

.row-priority-6 {
    background-color: LightSkyBlue;
}

.row-priority-7 {
    background-color: White;
}